body {
    margin: 0;
    font-family: Arial, sans-serif;
}

canvas {
    display: block;
}

#infoBox {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
}
